/* Navbar container */
.navbar {
 
    background-color: rgb(255, 255, 255);
    padding: 12px;
   
  }
  
  /* Flex container for links */
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  
  /* Individual nav items */
  .nav-item {
    text-decoration: none;
    color: rgb(0, 119, 32);
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-item:hover {
  
    background-color: rgb(0, 119, 32);
   color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px;
  }
  